<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>


		<!-- Start Landing Section-->
		<div class="welcome">
        <img src="http://localhost:3000/chucky/cover.png" class="img-fluid" alt="Responsive image">
        <div class="d-flex flex-column align-items-center landing">
        	<button type="button" class="btn btn-outline-light btn-lg" routerLink="/galerie">Galerie</button>
        </div>
    </div>
		<!-- End Landing Section-->
        

	<!-- Start About Section -->
		<!-- A three Columns Example -->


    <!-- End About section -->
    

	<!-- Start Contact Section-->
  <div class="col-md-12 text-center">
         <div class="border-top border-dark my-5 w-25 mx-auto"></div>
         <h1>About us</h1>
         <div class="border-top border-dark my-5 w-25 mx-auto"></div>
         <p class="lead">Chucky est une page neutre qui critique la situation de notre pays à sa maniére.</p>
         <button type="button" class="btn btn-lg btn-outline-dark mb-5 mt-5" routerLink="/contact">Contact Us</button>
  </div>
	<!-- End Contact Section-->

	

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6135a54b0e.js" crossorigin="anonymous"></script>
</body>
</html>